body {
    background-color: rgb(219, 255, 250);
    /* background-image: url("techBG.jpg"); */
    background-image: url("techBG3.jpg");
    /* background-position: center; */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    /* background-size: 100% 100%; */
    /* opacity: 0.5; */
}
