.home_link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: rgba(143, 48, 13, 0.938);
    color: whitesmoke;
}

.main_background {
    background-image: url("bgImage.jpeg");
}
