* {
    box-sizing: border-box;
}

.body {
    font-family: Arial;
    margin: 0;
}
.home_link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background: rgba(236, 115, 70, 0.938);
    color: whitesmoke;
}

.main_background {
    background-image: url("bgImage.jpeg");
}

.link_text {
    color: white;
}

@media screen and (max-width: 700px) {
    .row,
    .navbar {
        flex-direction: column;
    }
}
