.nav_bar {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 10vh;
    background: rgba(128, 56, 31, 0.938);
    color: rgb(241, 229, 229);
}

.nav_links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style: none;
}
