.nav_bar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 10vh;
    background: rgb(243, 114, 70);
    color: rgb(241, 229, 229);
}

.nav_links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style: none;
    color: whitesmoke;
}

.link_text {
    color: whitesmoke;
}
