.List_Image {
    float: left;
    height: 3rem;
    width: 3rem;
}

.Store_Card {
    /* position: relative; */
    display: block;
    float: left;
    max-width: 33%;
    height: 380px;
    /* border-style: ridge; */
    padding: 10px;
}
.head {
    margin-left: 47%;
}
.flex-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    bottom: 10px;
}

.a {
    color: rgb(10, 145, 163);
}
/* .a a {
    color: rgb(11, 214, 241);
} */

.a:hover {
    color: rgb(207, 101, 65);
    /* color: rgb(253, 253, 253); */
    border-radius: 10%;
}

ul {
    margin: 0px;
}

.col {
    flex: 1; /* additionally, equal width */

    /* padding: 1em; */
    border: solid;
    height: 20rem;
}

.logo_col {
    flex: 1; /* additionally, equal width */
    padding-left: 5.5rem;
    padding-top: 5rem;
    height: 10rem;
}

.item_z1_img {
    position: relative;
    z-index: 1;
}

.logoSqr_z2_img {
    size: 2rem;
    width: 85px;
    height: 85px;
    position: relative;
    top: -250px;
    left: 100px;
    z-index: 2;
}

.logoRec_z2_img {
    size: 2rem;
    width: 300px;
    height: 100px;
    position: relative;
    top: -330px;
    left: -33px;
    z-index: 2;
}
